@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }    
}


///MEDIA QUERY MANAGER
/**
0 - 600px       phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape

1200 -800px     [normal styles apply]

1800px+     big desktops



breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin respond-phone{
    @media (max-width: 600px){
        @content
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media only screen and (max-width: 37.5em){          //600px
            @content
        }
    }
    @if $breakpoint == tabPort{
        @media only screen and (max-width: 56.25em){          //900px
            @content
        }
    }
    @if $breakpoint == tabLand{
        @media only screen and (max-width: 75em){           //1200px
            @content
        }
    }
    @if $breakpoint == bigDesktop{
        @media only screen and (min-width: 112.5em){         //18600px
            @content
        }
    }
}